@using ProniaAPK.Models
@model List<GetAdminProductVM>
@{
    var count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Categories</h4>
            <p class="card-description">
                <a asp-controller="product" asp-action="create" class="btn btn-success">Create Product</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Category
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (GetAdminProductVM productVM in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    <p>@productVM.Name</p>
                                </td>
                                <td>
                                    <p>@productVM.Price</p>
                                </td>
                                <td>
                                    <p>@productVM.CategoryName</p>
                                </td>
                                
                                <td>
                                    <a asp-action="delete" asp-route-id="@productVM.Id" class="btn btn-danger">Delete</a>
                                    <a asp-action="update" asp-route-id="@productVM.Id" class="btn btn-warning">Update</a>
                                    <a class="btn btn-primary">Detail</a>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>